 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
, #0073e6);
}

::selection{
  background: #1a75ff;
  color: #fff;
}

.card {
    max-width: 180px;
    width: 100%;
    background: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-2px) scale(1.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.781);
}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.image img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.title {
    position: relative;
    height: auto;
    padding: 5px;
}

.title a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    text-align: right;
    color: black;
}

#movie-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#emailID {
    color: white;
}

.des {
    position: relative;
    top: 5px;
    padding: 5px;
}

.tag {
    position: absolute;
    margin: 2px;
    height: fit-content;
    padding: 2px;
    background-color: red;
    border-radius: 3px;
}

.hot_tag {
    margin: 0px;
    font-weight: 600;
    font-size: 14px;
}